.catalog-sidebar-line-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    margin: 0 16px;
    padding: 15px 0;

    @media (max-width: 360px) {
      margin: 0 10px;
    }
  }
}