.catalog-page-categories-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-shrink: 0;
    width: 20%;
    padding: 10px;
  }
}