.catalog-sidebar-line-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 18px;
  border: 1px solid #888888;
  text-decoration: none;
  outline: none;
  transition: .15s;

  &:hover {
    @media (hover: hover) {
      cursor: pointer;
      text-decoration: none;
      outline: none;
      border-color: #fff;

      & .catalog-sidebar-line-link__ico path {
        fill: #fff;
      }
    }
  }

  &:focus, &:active {
    outline: none;
    text-decoration: none;
  }

  &__ico-wrap {
    display: block;
  }

  &__ico {
    display: block;

    & path {
      transition: .15s;
    }
  }

  &_active {
    background: #ff0000;

    & .catalog-sidebar-line-link__ico path {
      fill: #fff;
    }
  }
}