.catalog-page-material-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    display: block;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    width: 33.33%;

    @media (max-width: 767px) {
      width: 100%;
      margin: 0 0 44px;
    }
  }
}