.catalog-sidebar-material-link {
  display: block;
  color: #888;
  text-decoration: none;
  outline: none;
  transition: .15s;

  &:hover {
    @media (hover: hover) {
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      outline: none;

      & .catalog-sidebar-material-link__img path {
        stroke: #fff;
      }
    }
  }

  &:focus, &:active {
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  &_active {
    color: #fff;

    & .catalog-sidebar-material-link__img path {
      stroke: #fff;
    }
  }

  &__img-wrap {
    display: block;
  }

  &__img {
    display: block;
    margin: 0 auto;

    & path {
      transition: .15s;
    }
  }

  &__text {
    display: block;
    font-size: 14px;
    line-height: 17px;
    font-family: $f-dr;
    text-align: center;
    padding: 10px 0;
  }
}