.catalog-page-materials-link {
  color: #000;
  transition: .15s;

  &:hover {
    @media (hover: hover) {
      cursor: pointer;
      color: $c-red;
    }
  }

  &__img-wrap {
    display: block;
    overflow: hidden;
    position: relative;
    max-width: 254px;
    margin: 0 auto;
    height: 488px;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 57px;
    font-family: $f-dl;
  }
}