.catalog-sidebar-material-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 308px;
  margin: 0 auto;

  &__item {
    width: 90px;
    padding: 15px 0;
  }
}