.gallery-product-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 0;
  background: none;
  outline: none;
  height: 120px;
  width: 60px;
  user-select: none;
  padding: 0;

  @media (max-width: 1440px) {
    width: 45px;
  }

  @media (max-width: 1366px) {
    width: 40px;
  }

  &:hover {
    @media (hover: hover) {
      cursor: pointer;
      outline: none;
    }
  }

  &:focus, &:active {
    outline: none;
  }

  &_prev {
    left: -17%;

    @media (max-width: 1366px) {
      left: -50px;
    }
  }

  &_next {
    right: -17%;

    @media (max-width: 1366px) {
      right: -50px;
    }
  }

  &__ico {
    display: block;
    margin: 0 auto;
  }
}