.product-application-area-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 30px 12px 0;

    @media (max-width: 767px) {
      margin: 0 18px 12px 0;
    }
  }
}